*{
    margin: 0;
    padding: 0;
}
/* #background{
background-image: url(frontend/images/resort.jpg);
width: 100vh;
height: 100vh;
} */
body{
    background-image: url("upload/resort.jpg");
    background-position: center;
    background-size: auto;
}
#form{
    background-color: #ffffff;
    height:550px;
    width:800px;
    margin: auto;
    margin-top: 100px;
    opacity:0.8;
}
#first-group{
    border:none;
    width:400px;
    margin-top: 38px;
    position: absolute;
}
#content{
    border: 1px solid #fd0202;
    margin:10px;
    margin-left: 8px;
    padding:5px;
}
#content #input-group{
    border:none;
    outline:none;
    background: transparent;
    margin-left:8px;
    width:300px;
    color:#000000;
}
::placeholder{
    color:#212529;
}
.fa{
    display:inline-block;
    color:red;
    border-right:1px solid #ff0000;
    padding:8px;
    margin-left: 8px;
}
#second-group{
    border:none;
    width:400px;
    margin-top: 53px;
    margin-left:400px;
}
#submit-btn{
    margin-top: 30px;
    margin-left: 600px;
    background: transparent;
    color:#000000;
    width:150px;
    border:1px solid red;
    outline:none;
    padding:10px;
    font-size: 20px;
}